/** COLORS
 *  Colors for themes (light, dark).
 */

// theme
// 1 = light
// 2 = dark
@mixin theme-colors($theme: false) {
    // -> init colors
    // dark colors
    $color_0: rgb(6, 6, 6);
    $color_1: rgb(12, 12, 12);
    $color_2: rgb(16, 16, 16);
    $color_text: rgb(255, 255, 255);
    $color_link: rgb(26, 178, 107);
    $color_link_hover: rgb(161, 54, 12);
    $color_title: rgb(14, 196, 165);

    // light colors
    @if $theme==1 {
        $color_0: rgb(245, 245, 245);
        $color_1: rgb(255, 255, 255);
        $color_2: rgb(255, 245, 245);
        $color_text: rgb(0, 0, 0);
        $color_link: rgb(245, 238, 239);
        $color_link_hover: rgb(26, 178, 107);
        $color_title: rgb(94, 72, 74);
    }

    & {
        background-color: $color_0;
        color: $color_text;
    }
    a {
        color: $color_link;
        &:hover {
            color: $color_link_hover;
        }
    }
    .title {
        color: $color_title;
    }
}

// DARK/LIGHT MODE

// light mode
@media (prefers-color-scheme: light) {
    body {
        @include theme-colors($theme: 1);
    }
}

// dark mode
@media (prefers-color-scheme: dark) {
    body {
        @include theme-colors($theme: 2);
    }
}